/* Botão para deletar */
.Delete-floating-back {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    padding: 5px 5px 0 5px;
    height: fit-content;
    width: fit-content;
    background-color: #FFA375;
    border: 2px solid #151515;
    border-radius: 20px;
    z-index: 100;
    cursor: pointer;
}

/* Hover sobre o botão de delete */
.Delete-floating-back:hover {
    background-color: #e52e2e;
    box-shadow: 0px 0px 20px rgba(229, 46, 86, 0.4);
    color: #fff;
}